[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pyperclip = "*"
pytube = "*"
youtube-dl = {git = "https://github.com/ytdl-org/youtube-dl.git"}
requests = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
