{% extends 'base.html' %}
{% load static %}



{% block content %}

    <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">

        {% include "includes/sidebar.html" %}
        {% include "includes/header.html" %}

      <!-- Main Container -->
      <main id="main-container">
        <!-- Hero -->
        <div class="bg-primary-dark">
          <div class="content content-full text-center ">
               <a href="http://127.0.0.1:8000/video-downloader" title="Youtube Video Downloader">
                <h1 class="h2 text-white mb-2">
                 Youtube Video Downloader
                </h1>
               </a>
          </div>
        </div>
        <!-- END Hero -->

        <!-- Page Content -->
        <div class="content">
          <div class="block block-rounded">
            <div class="block-content text-center">
              <div class="block-content block-content-full">
              <form action="" method="POST" >
                 {% csrf_token %}
                <div class="row">
                  <div class="col-lg-4">
                    <p class="fs-sm text-muted">
                      Paste the video link to see all options for downloading
                    </p>
                  </div>
                  <div class="col-lg-8 col-xl-5">
                    <div class="mb-4">
                      <div class="input-group">
                           {{ form }}
                        <button type="submit" class="btn btn-lg btn-dark" data-toggle="click-ripple"><i class="fab fa-fw fa-youtube me-1"></i>Submit</button>

                      </div>
                    </div>
                  </div>
                </div>
              </form>
              </div>
            </div>
          </div>


            {% if title %}


             <!-- Full Table -->
          <div class="block block-rounded">


            <div class="block-content">

                  <div class="row items-push">

                    <div class="col-md-4 col-lg-5">
                      <a class="img-link img-link-simple" href="{{ big_thumb }}" target="_blank">
                        {% if thumb %}
                            <img class="img-fluid rounded" src="{{ thumb }}" alt="">
                        {% else %}
                            <img class="img-fluid rounded" src="{{ big_thumb }}" alt="" width="378" height="213">
                        {% endif %}
                      </a>
                    </div>

                    <div class="col-md-8 col-lg-7 d-md-flex align-items-center">
                      <div>
                        <h4 class="mb-1">
                          <a class="text-dark" href="{{ video_url }}" target="_blank">{{ title }}</a>
                        </h4>
                        <p class="fs-sm text-muted">
                          Views: <b>{{ views }}</b> | Duration: <b>{{ duration }}</b> min</br>
                          Likes: <b>{{ likes }}</b>
                        </p>
                      </div>
                    </div>

                  </div>


              <div class="table-responsive">
                <table class="table table-sm table-borderless table-striped table-vcenter table-hover">
                  <thead>
                    <tr>
                      <th style="width: 20%;">Resolution</th>
                      <th style="width: 20%;">Format</th>
                      <th style="width: 20%;">File Size</th>
                      <th style="width: 20%;">Extension</th>
                      <th style="width: 10%;">Link</th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for stream in streams %}
                    <tr>
                          <td class="fw-semibold fs-sm">
                            {{ stream.resolution }}
                          </td>
                          <td class="fw-semibold fs-sm">
                              {{ stream.format_note }}
                          </td>
                          <td class="fs-sm">
                            {{ stream.file_size }}
                          </td>
                            <td class="fs-sm">
                            {{ stream.extension }}
                            </td>
                          <td class="fs-sm">



                              <a href="{{ stream.video_url }}" class="btn btn-sm btn-alt-primary"
                                   download="{{ title }}.{{ extension }}" target="_blank">

                                  <i class="fa fa-download me-2"></i> Download

                                  </a>


                          </td>
                         </tr>
                      {% endfor %}
                        <tr>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- END Full Table -->

    {% endif %}

        </div>
        <!-- END Page Content -->


      </main>
      <!-- END Main Container -->

     {% include "includes/footer.html" %}

    </div>
    <!-- END Page Container -->


{% endblock %}