{% load static %}

<nav id="sidebar" aria-label="Main Navigation">
    <div class="content-header">
      <a class="fw-semibold text-dual" href="/">
        <span class="smini-visible">
          <i class="fa fa-circle-notch text-primary"></i>
        </span>
        <span class="smini-hide fs-5 tracking-wider">Y<span class="fw-normal">Tools</span></span>
      </a>
      <div>
        <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="layout" data-action="dark_mode_toggle">
          <i class="far fa-moon"></i>
        </button>
        <a class="d-lg-none btn btn-sm btn-alt-secondary ms-1" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0)">
          <i class="fa fa-fw fa-times"></i>
        </a>
      </div>
    </div>

    <div class="js-sidebar-scroll">
      <div class="content-side">
        <ul class="nav-main">
          <li class="nav-main-item">
            <a class="nav-main-link" href="/">
              <i class="nav-main-link-icon si si-speedometer"></i>
              <span class="nav-main-link-name">Dashboard</span>
            </a>
          </li>

          <li class="nav-main-heading">Youtube</li>
            <a class="nav-main-link" aria-haspopup="true" aria-expanded="false" href="{% url 'video_downloader' %}">
              <i class="nav-main-link-icon si si-energy"></i>
              <span class="nav-main-link-name">Video Downloader</span>
            </a>
          <a class="nav-main-link" aria-haspopup="true" aria-expanded="false" href="{% url 'thumb_downloader' %}">
              <i class="nav-main-link-icon si si-energy"></i>
              <span class="nav-main-link-name">Thumb Downloader</span>
            </a>
          <a class="nav-main-link" aria-haspopup="true" aria-expanded="false" href="{% url 'tags_extractor' %}">
              <i class="nav-main-link-icon si si-energy"></i>
              <span class="nav-main-link-name">Tags Extractor</span>
            </a>
          <a class="nav-main-link" aria-haspopup="true" aria-expanded="false" href="{% url 'tags_generator' %}">
              <i class="nav-main-link-icon si si-energy"></i>
              <span class="nav-main-link-name">Tags Generator</span>
            </a>
           <a class="nav-main-link" aria-haspopup="true" aria-expanded="false" href="{% url 'link_shortener' %}">
              <i class="nav-main-link-icon si si-energy"></i>
              <span class="nav-main-link-name">Link Shortener</span>
            </a>
        </ul>
      </div>
    </div>
</nav>