{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>YTools.org - Usefull Tools</title>

    <meta name="description" content="YTools.org - Useful Tools For U">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <!-- Open Graph Meta -->
    <meta property="og:title" content="YTools.org - Usefull Tools">
    <meta property="og:site_name" content="OneUI">
    <meta property="og:description" content="YTools: Your Ultimate Hub for Tools & More. YouTube utilities: dowload video, thumbnail, generate tags and more">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- Icons -->
    <link rel="shortcut icon" href="{% static '/media/favicons/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static '/media/favicons/favicon-192x192.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/media/favicons/apple-touch-icon-180x180.png' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" id="css-main" href="{% static 'oneui.css' %}">
  </head>
  <body>


  {% block content %}
  {% endblock %}

  <script src="{% static '/js/oneui.app.min.js' %}"></script>
  </body>
</html>